@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

/* Variables */

$color-silver: #eff2f5;
$color-light: #f8f9fa;
$color-gray: #596275;
$color-dark: #1e272e;
$color-maritime: #38ada9;
$color-green: #33d9b2;

$font-family-kablammo: "Kablammo", system-ui;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-size: 16px;
    background: $color-silver;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1140px;
    margin: 15px auto;
    padding: 20px 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: $color-light;
    border-radius: 10%;
    box-shadow: 2px 2px 5px $color-gray;
    text-align: center;
}

h1, h3 {
    color: $color-maritime;
    text-shadow: 1px 1px 1px $color-dark;
    margin: 0;
    padding: 5px;
}

section {
    margin: 0;
    padding: 5px 0;
}

span {
    font-size: 1.1rem;
    text-shadow: 2px 2px 1px $color-gray;
}


/* Header */

header {
    .game-welcome {
        h1 {
            font-family: $font-family-kablammo;
        }

        span {
            color: $color-green;
        }
    }

    .game-rules {
        :nth-child(3) {
            font-style: italic;
        }

        p:last-of-type {
            font-weight: 600;
            color: $color-maritime;
        }
    }
}

/* Buttons */

#buttons {
    button {
        background: $color-green;
        padding: 10px 20px 12px;
        border: 2px solid $color-maritime;
        border-radius: 10px;
        color: $color-light;
        text-transform: uppercase;
        text-shadow: 2px 2px 1px $color-gray;
        font-weight: 800;
        cursor: pointer;

        span {
            padding-left: 5px;
        }
        
        &:hover {
            opacity: .8;
        }
    }
}

#messages {
    font-style: italic;
    font-size: 1.2rem;
}